.bg-txt-top,
.bg-txt-bottom {
  position: absolute;
  @include respond(mob) {
    display: none;
  }
}

.bg-txt-top {
  left: -25%;
  top: 8%;
}

.bg-txt-bottom {
  right: 0;
  bottom: 20%;
}

.bg-txt {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14.4rem;
  line-height: 17rem;
  color: rgba($white, 0.5);

  @include respond(tab) {
    font-size: 10rem;
    line-height: 12rem;
  }
}
