.img-links {
  display: flex;

  @include respond(mob) {
    flex-direction: column;
  }
}

.img-links__link-box {
  position: relative;
  flex-basis: 33.3333%;
  height: 100vh;
  @include bg-center;

  &::after {
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    content: "";
    display: flex;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    &::after {
      background-color: rgba(0, 0, 0, 0.6);
    }

    & .img-links__logo {
      transform: translate(-50%, -50%) scale(1);

      @include respond(tab) {
        transform: translate(-50%, -50%) scale(0.7);
      }
    }
  }

  @include respond(mob) {
    flex: none;
    height: 33.33%;
  }
}

.img-links__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: all 0.3s;

  @include respond(tab) {
    transform: translate(-50%, -50%) scale(0.6);
  }
}
