.hero {
  position: relative;
  overflow-x: hidden;
}

.hero__background {
  height: 100vh;

  @include bg-center;
}

.hero__content {
  max-width: 73rem;
  padding-top: 48rem;
  margin-bottom: 5rem;
  padding-left: 3rem;
  @include respond(mob) {
    padding-left: 1rem;
  }

  @include respond(tab) {
    padding-top: 30rem;
    max-width: 60rem;
    margin-bottom: 3rem;
  }

  @include respond(mob) {
    padding-top: 15rem;
  }
}

.hero__btn {
  margin-left: 3rem;
  @include respond(mob) {
    margin-left: 1rem;
  }
}

.hero__btn-scroll {
  position: absolute;
  z-index: 10;
  height: 3.2rem;
  width: 2rem;
  border: 1px solid $white;
  border-radius: 10rem;
  bottom: 2.9rem;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.3s;

  &::after {
    position: absolute;
    height: 0.4rem;
    width: 0.4rem;
    background-color: $white;
    content: "";
    left: 50%;
    border-radius: 10rem;
    transform: translateX(-50%);
    top: 5px;
    transition: all 0.3s;
    animation: move 0.9s;
    animation-iteration-count: infinite;
  }

  &:hover {
    border: 1px solid $orange;

    &::after {
      background-color: $orange;
    }
  }
}

.swiper-pagination {
  top: 50%;
  right: 3.4rem;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;

  @include respond(tab) {
    right: 2rem;
  }
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  background-color: $bullet-grey;
  cursor: pointer;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

  &:hover {
    background-color: #4c4c4c;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.swiper-pagination-bullet-active {
  background-color: $bullet-grey;
  position: relative;
  pointer-events: none;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid $bullet-grey;
    border-radius: 10rem;
  }
}
