.header {
  position: relative;
}

.nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1500;

  &.active {
    & > .nav__content {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}

.nav__content {
  display: flex;
  align-items: center;
  padding: 3.6rem 1rem 1.5rem;

  @include respond(tab) {
    padding: 2rem 1rem 1.5rem;
  }
}

.nav__logo-link {
  display: block;
}

.nav__logo-link--sticky {
  display: none;
}

.nav__nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include respond(tab) {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 10rem;
    transition: all 0.3s ease-in-out;
    @include invisible;

    &.active {
      @include visible;
    }
  }
}

.nav__list {
  display: flex;
  align-items: center;

  @include respond(tab) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
  }
}

.nav__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 5.8rem;
  }

  @include respond(tab) {
    @include invisible;

    transition: all 0.3s;
    transform: translateY(2rem);

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 2rem;
      &::after {
        position: absolute;
        content: '';
        height: 1px;
        display: block;
        width: 100vw;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-left: -1rem;
        bottom: -2rem;
      }
    }

    &:not(:first-child) {
      margin-top: 2rem;
    }

    &.active {
      @include visible;
      transform: translateY(0);
    }
  }
}

.nav__link {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $white;
  transition: all 0.3s;
  text-transform: uppercase;
  position: relative;

  &:hover {
    color: $orange;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    right: 50%;
    left: 50%;
    background: $orange;
    transition: all 0.3s ease-out;
    transform: translateY(0.3rem);
  }

  &.active {
    pointer-events: none;

    &::after {
      left: 0;
      right: 0;
    }
  }

  @include respond(tab) {
    color: $grey-sticky;

    font-size: 2.6rem;
    line-height: 3.2rem;

    &.active {
      pointer-events: auto;

      &::after {
        height: 0;
        background: transparent;
      }
    }

    &:hover {
      color: $grey-sticky;
    }
  }

  @include respond(mob) {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

.nav__btn {
  @include respond(tab) {
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: $grey-sticky;
    border: 2px solid $grey-sticky;

    &:hover {
      color: $grey-sticky;
      border: 2px solid $grey-sticky;
    }
  }

  @include respond(mob) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
