.nav__sticky {
  transition: all 0.3s;
  z-index: 1500;
  position: fixed;
  background-color: rgba(#414141b3, 0.7);
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0.5rem 0.2rem 1rem rgba(0, 0, 0, 0.3);

  & .nav__logo-link {
    display: none;
  }

  & .nav__logo-link--sticky {
    display: block;
  }

  &.active {
    box-shadow: none;
    background-color: transparent;
  }

  & .nav__link {
    &:hover {
      color: $grey-sticky-hover;
    }
    &--active {
      &::after {
        background: $orange-dark;
      }
    }
  }

  & .nav__btn {
    color: $orange;
    border: 1px solid $orange;

    &:hover {
      color: $grey-sticky-hover;
      border: 1px solid $grey-sticky-hover;
    }
  }
}
